<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hey Linda App Test Suite">
	<test name="Hey Linda App Tests">
		<classes>
			<class name="TrackProgressTest" />
			<class name="EmulatorTest" />
			<class name="HeyLindaTest" />
			<class name="LindaMeditateTest" />
		</classes>
	</test>
</suite>
